[package]
name = "identity-core"
version.workspace = true
edition.workspace = true

[dependencies]
apalis = { workspace = true }
apalis-redis = { workspace = true }
serde = { workspace = true }
argon2 = { version = "0.5.3" }
chrono = { workspace = true }
regex = "1.12.2"
rust_iso3166 = { workspace = true }
serde_json = { workspace = true }
sqlx = { workspace = true, features = [
    "chrono",
    "postgres",
    "runtime-tokio",
    "uuid",
] }
tokio = { workspace = true }
uuid = { workspace = true }
url = { workspace = true }
validator = { version = "0.20.0", features = ["derive"] }
sdk = { workspace = true, features = ["core"] }

[dev-dependencies]
sdk = { workspace = true, features = ["test-utils"] }
